*{
    font-family: 'Merriweather, arial, helvetica';
    font-size: large;
    
}

.presentacion{
    margin: auto;
    border: 50px;
    padding: 20%;
}

header a{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}

header a:hover{
    text-decoration:none;
    text-shadow: 2px 2px 5px rgba(252, 250, 250, 0.884);
}

.presentacion h1{
    font-size: 700%;
}
.presentacion p{
    font-family: 'Sassy Frass', cursiva;
}

#presentacion{
    background: url(img/background/png_20221220_202155_0000.png);
   background-attachment: fixed;
}

#presentacion{
    color: aliceblue;
    font-weight: 100;
    font-size: 20px;
}

.contenedor h1{
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 20px;
}

#presentacion p{
    font-family: 'Poppins', sans-serif;
}

#costanera p{
    font-size: 30px;
    font-style: italic;
    margin: 0px 20px;
    text-align: center;
}

#texto-presentacion p{
    margin: 10px 100px;
    display: inline-block;  
}

#despedida p{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin: 10px 20px;
    text-align: center;
}

