*{
    font-family: 'Merriweather';
    font-size: large;
}

.presentacion{
    margin: auto;
    border: 50px;
    padding: 20%;
}

a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    text-decoration: underline;
}

.presentacion h1{
    font-size: 700%;
}
.presentacion p{
    font-family: 'Sassy Frass', cursiva;
}